<head>
  <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
  <main class="view">
    <h1 id="ViewTitle">Show Me Some Music</h1>

    <nav class="view-nav" aria-label="Visualisierungen">
      <a href="/index.html">Start</a>
      |
      <a href="/views/loudness.html">Loudness</a>
      | 
      <a href="/views/disco.html">Danceability</a>
      |
      <a href="/views/bulb.html">Energy</a>
      |
      <a href="/views/track_journey.html">Track-Journey</a>
      |
      <a href="/views/about.html">About</a>
    </nav>

    <br>
    <br>
    <br>
    <br>
    <br>

    <div>
      <h1 class="hero-title" style="text-align: center; font-size: 5em;">About</h1>
       <br>
        <br>
         <br>
        <br>
      <p class="view-about">
        This project is a student project by Emil Ötting at Hochschule Düsseldorf as part of the course "Interactive Storytelling" by Prof. Kay Schröder in 2025/2026.
        It consists of a Python-based data-gathering module, providing a solid database for the data visualization module, as well as an interactive multi-plot web application using JavaScript. 
      </p>

        <br>
        <br>

      <p class="view-about" style="text-align:center; font-weight:500; font-size:2.0em; font-family:fantasy;letter-spacing: 1px;">
        Data Collection
      </p>
      <p class="view-about">
        The underlying data are the Billboard Year-End Hot 100 singles from 1959 to 2024. 
        Scraping Wikipedia, information about the featured songs and artist was automatically collected.  
        This information was then cleansed and fed into the Spotify-API to return basic information on the specific song. 
        Using the Spotify Song-ID (a unique identifier), more detailed information about each song was collected from the https://reccobeats.com/ - API.
        All the collected information was combined into a database as a backbone for the visualization module.
        <br>
      </p>
      <p class="view-about" style="text-align:center; font-weight:300; font-size:1.1em; font-family:fantasy;letter-spacing: 1px;">
        Disclaimer
      </p>
      <p class="view-about">
          Although effort was taken to avoid mix-ups during data collection and processing, some semantic errors might still occur due to the automated nature and dependency on the Spotify-API output.
          In some cases the requested data was also not available, leading to missing data fields.
      </p>

      <br>
      <br>

       <p class="view-about" style="text-align:center; font-weight:500; font-size:2em; font-family:fantasy; letter-spacing: 1px;">
        Data Visualization
      </p>
      <p class="view-about">
        Specific aspects of the data collected were visualized over a total of 5 interactive plots.
        Special focus was laid on the average loudness, danceability, energy and positional development of songs scoring a chart ranking.
        In order to create appealing visuals, the libraries three.js and d3.js were incorporated. 
        More detailed information about the information depicted can be found underneath the respective visualizations. 
        <br>
      </p>
        

    </div>
  </main>
</body>