<head>
  <link rel="stylesheet" href="../css/styles.css">
  <script type="importmap">
    {
      "imports": {
        "three": "https://cdn.jsdelivr.net/npm/three@0.160.0/build/three.module.js",
        "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.160.0/examples/jsm/"
      }
    }
</script>
</head>

<body>
  <main class="view">
    <h1 id="ViewTitle">Show Me Some Music</h1>

    <nav class="view-nav" aria-label="Visualisierungen">
      <a href="/index.html">Start</a>
      |
      <a href="/views/loudness.html">Loudness</a>
      | 
      <a href="/views/disco.html">Danceability</a>
      |
      <a href="/views/loudness.html">Loudness</a>
      |
      <a href="/views/loudness.html">Loudness</a>
      |
      <a href="/views/loudness.html">Loudness</a>
    </nav>

    <div id="VizStack">
      <div id="discoRoot"></div>
    </div>

    <div class="tooltip" style="opacity:0;"></div>

    <script type="module">
      import { discoBall } from "../src/disco.js";
      discoBall().catch(console.error);
    </script>
  </main>
</body>