<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/nouislider@15.7.1/dist/nouislider.min.css">
  <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
  <main class="view">
    <h1 id="ViewTitle">Show Me Some Music</h1>

    <nav class="view-nav" aria-label="Visualisierungen">
      <a href="/index.html">Start</a>
      |
      <a href="/views/loudness.html">Loudness</a>
      | 
      <a href="/views/disco.html">Danceability</a>
      |
      <a href="/views/bulb.html">Energy</a>
      |
      <a href="/views/track_journey.html">Track-Journey</a>
      |
      <a href="/views/loudness.html">Loudness</a>
    </nav>

    <div id="VizStack">
      <div id="continuity-Viz"></div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/nouislider@15.7.1/dist/nouislider.min.js"></script>
    <script type="module">
      import { initTrackContinuity } from "../src/track_conti.js";
        initTrackContinuity("#continuity-Viz").catch(console.error);
    </script>
  </main>
</body>